@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    /* VARIABLES */
    /*Colors*/
    --cream: #E2E0C7;
    --text-black: #030303;
    --text-white: #FFFFFF;
    --yellow: #FBD725;
    --blue-light: #90B7BF;
    --blue-dark: #67A1BC;
    --red: #9F2123;

    /*Shadows*/
    --card-shadow: 0px 16px 64px 0px rgba(0, 0, 0, 0.25);
    --card-blue-shadow: 0px 32px 50px 0px rgba(6, 63, 86, 0.5);
    --text-shadow: 0px 4px 8px rgba(6, 63, 86, 0.5);

    /*Font Sizes*/
    --f-base: 1rem;
    --f-u-1: 1.06rem;
    --f-u-2: 1.12rem;
    --f-u-3: 1.19rem;
    --f-u-4: 1.31rem;
    --f-u-5: 1.38rem;
    --f-u-6: 1.5rem;

    --f-d-1: 0.94rem;
    --f-d-2: 0.88rem;
    --f-d-3: 0.81rem;

    /* font */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--blue-dark);
    color: var(--text-black);
}

.main-content {
    flex: 1;
}

.main-header {
    background-color: var(--cream);
    border-radius: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 32px;
    margin: 32px;
    position: relative;
}

.nav-link {
    font-size: var(--f-u-6);
    font-weight: 800;
    text-decoration: none;
    color: var(--text-black);
    border-bottom: 8px solid transparent;
    margin-bottom: -8px;
    transition: all 0.5s linear;
}

.nav-link.active,
.nav-link:hover {
    border-bottom: 8px solid var(--text-black);
}

.main-nav {
    display: flex;
    gap: 32px;
}


.logo {
    position: absolute;
    left: 32px;
    top: 16px;
    z-index: 1;
}

@media only screen and (max-width: 915px) {
    .main-header {
        justify-content: center;
    }

    .logo {
        width: 100px;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -30%);
    }
}

/* FOOTER */
.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    padding: 32px 128px;

    background-image: url(../assets/footer_bg.png);
    background-position: bottom;
    background-size: cover;
    min-height: 314px;
    z-index: 1;

    >.f-disclaimer {
        font-weight: 800;
        text-align: center;
    }
}

.f-card {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 32px;
    border-radius: 4px;
    backdrop-filter: blur(32px);
    color: var(--text-white);
    width: 100%;
}

.f-card.main {
    display: flex;
    gap: 32px;
}

.f-card.secondary {
    text-align: center;
    padding: 4px 32px;
    color: rgb(168, 168, 168);
}

.f-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: var(--f-d-2);

    >.f-heading {
        color: var(--yellow);
        font-weight: 800;
        border-bottom: 2px solid var(--yellow);
    }

    >.f-link {
        color: var(--text-white);
        text-decoration: none;
    }

    >.f-link:hover {
        filter: brightness(0.7);
    }
}

.f-contact-form {
    margin-left: auto;
    width: 100%;
    max-width: 600px;
    text-align: center;

    >.f-form-row {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-wrap: wrap;
        justify-content: center;

        >input {
            flex: 1;
            background: none;
            border: 1px solid var(--yellow);
            color: var(--text-white);
            padding: 4px 16px;
            border-radius: 32px;
        }
    }

    button {
        color: var(--text-black);
        background-color: var(--yellow);
        border-radius: 32px;
        border: none;
        font-weight: 800;
        padding: 4px 16px;
        cursor: pointer;

        &:hover {
            filter: brightness(0.8);
        }

    }

    strong {
        color: var(--yellow);
    }
}

@media only screen and (max-width: 1000px) {
    .main-footer {
        padding: 32px 32px;
    }
}

@media only screen and (max-width: 750px) {
    .f-card.main {
        flex-wrap: wrap;
        justify-content: center;
    }


    .f-contact-form {
        margin: 0;
    }
}


/* Common UI */
.cta {
    font-size: var(--f-u-6);
    color: var(--text-white);
    text-decoration: none;
    font-weight: 800;
    background-color: var(--text-black);
    padding: 8px 16px;
    border-radius: 32px;
    cursor: pointer;
    text-align: center;

    &:hover {
        color: var(--yellow);
    }
}

.clouds-section {
    background: #90B7BF;
    background: linear-gradient(180deg, rgba(103, 161, 188, 1) 0%, rgba(144, 183, 191, 1) 100%);
    position: relative;
    min-height: 600px;
}
.cloud{
    position: absolute;
}
.cloud.left{
    top: 5px;
    left: 0;
}
.cloud.right{
    right: 0;
    top: 30px;
}
.cloud.small{
    left: 33%;
    top: 16px;
}