/* Container that holds all testimonials */
.tesitmonials-box {
    position: relative;
    z-index: 2;

    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-items: flex-start;

    padding: 20px 0;
    width: 80%;
}

/* Individual testimonial card */
.testimonial {
    padding: 32px;
    border-radius: 60px;
    max-width: 335px;

    background: linear-gradient(180deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(152, 222, 245, 1) 150%);

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Row with stars + name */
.t-rating-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    padding-bottom: 8px;
    border-bottom: 1px solid var(--text-black);
}

.t-message{
    font-weight: 600;
    text-align: center;
}
 
.t-form {
    background-color: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(152, 222, 245, 1) 150%);
    padding: 32px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    box-shadow: var(--card-shadow);
}

.t-form-input {
   border: 1px solid var(--text-black);
   border-radius: 4px;
   background: none;
    padding: 8px;
    width: 100%;
}
 
.t-bottom-row {
    display: flex;
    gap: 16px;
    align-items: center;
    > label {
        text-wrap: nowrap;
    }
}
 
.button {
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    background-color: rgb(95, 139, 146);
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.stars-row{
    border-bottom: 1px solid var(--text-black);
    align-items:center;
    display: flex;
    gap: 8px;
}
 
.star{
    min-height: 16px;
    min-width: 16px;
    background-image: url(/assets/star_yellow.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    /* border: 1px solid red; */
    transition: all 0.2s ease-in-out;

    > input{
        display: none;
    } 
}

 
.star:has(input:checked) ~.star
{
    background-image: url(/assets/star_black.svg);
}