.testimonials-box {
    position: relative;
    z-index: 2;
}

.testimonial {
    padding: 32px;
    border-radius: 32px;
    max-width: 350px;

    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(152, 222, 245, 1) 150%);
}

.t-rating-row{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;

    border-bottom: 1px solid var(--text-black);
}
.t-message{
    font-weight: 600;
    text-align: center;
}