/* Container that holds all testimonials */
.testimonials-box {
    position: relative;
    z-index: 2;

    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-items: flex-start;

    padding: 20px 0;
}

/* Individual testimonial card */
.testimonial {
    padding: 32px;
    border-radius: 60px;
    max-width: 335px;

    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(152, 222, 245, 1) 150%
    );

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Row with stars + name */
.t-rating-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    padding-bottom: 8px;
    border-bottom: 1px solid var(--text-black);
}